<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Weather App</title>
</head>

<body>
    <div class="box">
        <div class="wave "></div>
        <div class="wave -two"></div>
        <div class="wave -three"></div>
        <div id="weathercon">
            <i class="fas fa-solid fa-sun" style="color: #eccc68;"></i>
        </div>
        <div class="info">
            <h2 class="location"><i class="fas fa-solid fa-street-view" style="color: #fff;"></i><%=city%> | <%=country%></h2>
            <p id="date">Day | DD/MM/YYY | Time</p>
            <h1 class="temp"><%=temp%>&deg;C</h1>
            <h3 class="tempmin_max">Min:<%=temp_min%>&deg;C <br> Max:<%=temp_max%>&deg;C</h3>
        </div>
    </div>
    <script>
        const curDate = document.getElementById("date");
        let weathercon = document.getElementById("weathercon");
        const tempStatus="{%status%}";
        if(tempStatus==="Sunny"){
            weathercon.innerHTML="<i class='fas fa-solid fa-sun' style='color: #eccc68;'></i>"
        }else if(tempStatus==="Clouds"){
            weathercon.innerHTML="<i class='fas fa-solid fa-cloud' style='color: #dfe4ea;'></i>"
        }else if(tempStatus==="Rainy"){
            weathercon.innerHTML="<i class='fas fa-solid fa-rain' style='color: #a4b0be;'></i>"
        }else{
            weathercon.innerHTML="<i class='fas fa-solid fa-cloud-moon' style='color: #44c3be;'></i>"
        }

        const getCurrentDay = () => {
            const weekday = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];

            let currentTime = new Date();
            let currentDay = weekday[currentTime.getDay()];
            return currentDay;
        }
        const getCurrentDate = () => {
            let today = new Date().toLocaleDateString();
            let dateFormat = new Date().toLocaleDateString('en-GB', {
                month: '2-digit', day: '2-digit', year: 'numeric'
            })
            console.log(dateFormat);
            return dateFormat;
        }
        const getCurrentTime = () => {
            let now = new Date().toLocaleTimeString();
            return now;
        }

        curDate.innerHTML = getCurrentDay() + " | " + getCurrentDate() + " | " + getCurrentTime();
        console.log(curDate);
    </script>
</body>

</html>